/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	padding-bottom: -20px !important;
	}

/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar {
	background-color: #009688;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #4DB6AC;
}

/* --------------------------------------
   History
   -------------------------------------- */
   
.bgcolor-2 {
  background: white;
}
.bgcolor-3 {
  background: #E91E63;
}
.bgcolor-4 {
  background: #2196F3;
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7 {
  padding-top: 100px;
  padding-bottom: 100px;
}
   

  
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */
   



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}